
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

h2 {
    background-color: tomato;
    margin: -20px;
    margin-bottom: -25px;
}
h3 {
    background-color: #cdff9e;
    margin: 5px;
    margin-bottom: -25px;

}
h4 { background-color: tomato;
    margin: 5px;
    margin-bottom: -25px;
}
h5 {
    background-color: #cdff9e;
    margin: 5px;
    margin-bottom: -1px;

}

h6 {
    background-color: tomato;
    margin: 5px;
}

output {
    text-align: center;
}

.bouncebutton {
        display: block;
        align-items: center;
        justify-content: center;
        height: 50vh; }
        button {
        background-color: peachpuff;
        padding: 1px 35px;
        font-size: 25px;
        border: none;
        border-radius: 2px;
        color: black;
        cursor: pointer; }
        
        @keyframes bounce {
            0%, 25%, 50%, 75%, 90%, 100% {
            transform: translateY(0); }
            15%,40% {
            transform: translateY(-10px); }
            65% ,80% {
            transform: translateY(-5px); }
            95% {
            transform: translateY(-5px); } }
            button:hover {
            animation: bounce 1s alternate; }


main {
    padding: 30px;
}

header {
    background-color: #cdff9e;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

header img {
    height: 100%;
    object-fit: contain;
}

.math {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    background-color: #cdff9e;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: 150px auto 150px 35px 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
}

