
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

button {
    background-color: peachpuff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border:none;
    border-radius: 1px;
    color: black;
    cursor: pointer; }
       
h2 {
    background-color: tomato;
    margin: -20px;
    margin-bottom: -25px;
}
h3 {
    background-color: #cdff9e;
    margin: 5px;
    margin-bottom: -25px;

}
h4 { background-color: tomato;
    margin: 5px;
    margin-bottom: -25px;
}
h5 {
    background-color: #cdff9e;
    margin: 5px;
    margin-bottom: -1px;

}

h6 {
    background-color: tomato;
    margin: 5px;
}

output {
    margin: 5px;
    margin-bottom: -2px;
    text-align: center;
}
        
main {
    padding: 30px;
}

header {
    background-color: #cdff9e;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

header img {
    height: 100%;
    object-fit: contain;
}

.math {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    background-color: #cdff9e;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: 150px auto 150px 35px 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
}

